In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('All data.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021*
0,Emissions,Sources,million kg,million kg,million kg,million kg,million kg,million kg,million kg,million kg,...,million kg,million kg,million kg,million kg,million kg,million kg,million kg,million kg,million kg,million kg
1,Carbon dioxide (CO2),Total mobile sources,33400,33300,34600,34800,35400,35600,36100,37200,...,39700,38600,38900,39800,40200,40400,41200,41200,37700,38300
2,Carbon dioxide (CO2),Total inland transport,27500,27600,28900,28900,29300,29300,29700,30600,...,33200,32300,32300,32900,33400,33800,34400,34300,30800,31400
3,Carbon dioxide (CO2),"Road traffic, total",24200,24300,25500,25500,25800,25800,26100,26600,...,28700,28000,27800,28100,28900,29200,29400,29300,26100,26600
4,Carbon dioxide (CO2),"Road traffic, passenger cars",15500,15400,16100,15900,16300,16100,16300,16700,...,17600,17400,17200,17300,17600,17700,17800,17600,14600,14800

In [4]:
column_names=[df.loc[0,'Unnamed: 0'], df.loc[0,'Unnamed: 1']]
i = 2
while i < len(df.columns):
    if i < len(df.columns) - 1:
        column_names.append(df.columns[i])
    if i == len(df.columns)-1:
        column_names.append('2021')
    i += 1

In [5]:
df = df.set_axis(column_names, axis=1, inplace=False)
df

,Emissions,Sources,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Emissions,Sources,million kg,million kg,million kg,million kg,million kg,million kg,million kg,million kg,...,million kg,million kg,million kg,million kg,million kg,million kg,million kg,million kg,million kg,million kg
1,Carbon dioxide (CO2),Total mobile sources,33400,33300,34600,34800,35400,35600,36100,37200,...,39700,38600,38900,39800,40200,40400,41200,41200,37700,38300
2,Carbon dioxide (CO2),Total inland transport,27500,27600,28900,28900,29300,29300,29700,30600,...,33200,32300,32300,32900,33400,33800,34400,34300,30800,31400
3,Carbon dioxide (CO2),"Road traffic, total",24200,24300,25500,25500,25800,25800,26100,26600,...,28700,28000,27800,28100,28900,29200,29400,29300,26100,26600
4,Carbon dioxide (CO2),"Road traffic, passenger cars",15500,15400,16100,15900,16300,16100,16300,16700,...,17600,17400,17200,17300,17600,17700,17800,17600,14600,14800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,PM10 (Particulate matter),"Mobile machinery, total",4.1,4.1,4,3.9,3.9,3.9,3.9,3.8,...,1.6,1.5,1.5,1.3,1.2,1.1,1.1,1,0.9,0.8
229,PM10 (Particulate matter),"Mobile machinery, agriculture",1.6,1.6,1.5,1.4,1.4,1.4,1.3,1.3,...,0.5,0.5,0.5,0.5,0.4,0.4,0.4,0.3,0.3,0.3
230,PM10 (Particulate matter),"Mobile machinery, building industry",2.1,2.1,2,1.9,2,1.9,2,1.9,...,0.7,0.7,0.6,0.6,0.6,0.5,0.5,0.4,0.4,0.4
231,PM10 (Particulate matter),"Mobile machinery, other sectors",0.4,0.5,0.5,0.6,0.6,0.6,0.6,0.6,...,0.4,0.3,0.3,0.3,0.3,0.2,0.2,0.2,0.2,0.2
232,Source: CBS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df[df.Emissions == 'Carbon dioxide (CO2)']
df

,Emissions,Sources,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,Carbon dioxide (CO2),Total mobile sources,33400,33300,34600,34800,35400,35600,36100,37200,...,39700,38600,38900,39800,40200,40400,41200,41200,37700,38300
2,Carbon dioxide (CO2),Total inland transport,27500,27600,28900,28900,29300,29300,29700,30600,...,33200,32300,32300,32900,33400,33800,34400,34300,30800,31400
3,Carbon dioxide (CO2),"Road traffic, total",24200,24300,25500,25500,25800,25800,26100,26600,...,28700,28000,27800,28100,28900,29200,29400,29300,26100,26600
4,Carbon dioxide (CO2),"Road traffic, passenger cars",15500,15400,16100,15900,16300,16100,16300,16700,...,17600,17400,17200,17300,17600,17700,17800,17600,14600,14800
5,Carbon dioxide (CO2),"Road traffic, freight vehicles",7600,7900,8400,8500,8500,8600,8600,8800,...,9900,9500,9400,9800,10200,10400,10600,10700,10600,11000
6,Carbon dioxide (CO2),"Road traffic, other",1100,1000,1000,1100,1100,1100,1100,1100,...,1100,1100,1100,1100,1000,1100,1100,1000,900,900
7,Carbon dioxide (CO2),Total inland shipping,1900,1900,1900,1900,1900,1900,1900,2200,...,2000,2000,2000,2100,2000,2100,2100,1900,1900,2000
8,Carbon dioxide (CO2),"Inland shipping, passenger transport",100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
9,Carbon dioxide (CO2),"Inland shipping, freight transport",1600,1600,1600,1600,1700,1600,1600,1900,...,1700,1700,1700,1800,1700,1800,1800,1600,1600,1700
10,Carbon dioxide (CO2),"Inland shipping, pleasure cruising",100,100,100,200,100,200,200,200,...,200,200,200,200,200,200,200,200,200,200
11,Carbon dioxide (CO2),Fishing,400,300,300,300,300,400,400,400,...,100,200,200,200,200,100,200,200,200,200
12,Carbon dioxide (CO2),Railways total,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
13,Carbon dioxide (CO2),"Railways, passenger transport",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Carbon dioxide (CO2),"Railways, freight transport",100,100,100,100,100,100,100,100,...,100,100,100,100,100,0,0,0,0,0
15,Carbon dioxide (CO2),Aviation,300,300,400,400,400,500,500,500,...,800,800,800,800,900,900,900,900,500,500
16,Carbon dioxide (CO2),"Seagoing shipping, inland",700,700,700,700,700,700,700,800,...,1400,1300,1400,1600,1300,1300,1700,1800,2000,2000
17,Carbon dioxide (CO2),Seagoing shipping on continental shelf,2900,2700,2800,2900,2900,3000,3100,3200,...,3300,3100,3300,3600,3500,3400,3400,3600,3500,3500
18,Carbon dioxide (CO2),"Mobile machinery, total",2900,2900,3000,3000,3200,3300,3300,3300,...,3200,3300,3400,3300,3300,3200,3400,3300,3400,3400
19,Carbon dioxide (CO2),"Mobile machinery, agriculture",1100,1000,1000,1000,1000,1100,1000,1000,...,1100,1100,1200,1200,1100,1100,1300,1200,1200,1200
20,Carbon dioxide (CO2),"Mobile machinery, building industry",1400,1400,1400,1400,1500,1500,1600,1600,...,1400,1500,1500,1400,1500,1400,1500,1400,1500,1500
21,Carbon dioxide (CO2),"Mobile machinery, other sectors",400,500,500,600,600,600,700,700,...,800,700,700,700,700,700,700,700,700,700

In [7]:
df = df[df.Emissions == 'Carbon dioxide (CO2)']
df = df[df.Sources.isin(['Road traffic, total', 'Total inland shipping', 'Railways total', 'Aviation', 'Seagoing shipping, inland'])]
df = df.drop(columns=['Emissions'])

In [8]:
df.set_index('Sources')

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Sources,,,,,,,,,,,,,,,,,,,,,
"Road traffic, total",24200,24300,25500,25500,25800,25800,26100,26600,27200,28600,...,28700,28000,27800,28100,28900,29200,29400,29300,26100,26600
Total inland shipping,1900,1900,1900,1900,1900,1900,1900,2200,2000,2000,...,2000,2000,2000,2100,2000,2100,2100,1900,1900,2000
Railways total,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
Aviation,300,300,400,400,400,500,500,500,500,600,...,800,800,800,800,900,900,900,900,500,500
"Seagoing shipping, inland",700,700,700,700,700,700,700,800,800,800,...,1400,1300,1400,1600,1300,1300,1700,1800,2000,2000

In [9]:
df = df.swapaxes("index", "columns")

In [10]:
df

,3,7,12,15,16
Sources,"Road traffic, total",Total inland shipping,Railways total,Aviation,"Seagoing shipping, inland"
1990,24200,1900,100,300,700
1991,24300,1900,100,300,700
1992,25500,1900,100,400,700
1993,25500,1900,100,400,700
1994,25800,1900,100,400,700
1995,25800,1900,100,500,700
1996,26100,1900,100,500,700
1997,26600,2200,100,500,800
1998,27200,2000,100,500,800
1999,28600,2000,100,600,800
2000,28600,2100,100,600,900
2001,28900,2200,100,600,900
2002,29300,2100,100,600,900
2003,29600,2200,100,700,900
2004,30200,2000,100,800,1000
2005,30200,2000,100,800,1000
2006,30100,1900,100,800,1000
2007,30100,2000,100,800,1100
2008,30000,1900,100,800,1400
2009,29600,1700,100,700,1300
2010,29600,1800,100,800,1300
2011,29200,1900,100,800,1400
2012,28700,2000,100,800,1400
2013,28000,2000,100,800,1300
2014,27800,2000,100,800,1400
2015,28100,2100,100,800,1600
2016,28900,2000,100,900,1300
2017,29200,2100,100,900,1300
2018,29400,2100,100,900,1700
2019,29300,1900,100,900,1800
2020,26100,1900,100,500,2000
2021,26600,2000,100,500,2000

In [11]:
new_header = df.iloc[0]
df = df[1:]
df.columns=new_header
df

Sources,"Road traffic, total",Total inland shipping,Railways total,Aviation,"Seagoing shipping, inland"
1990,24200,1900,100,300,700
1991,24300,1900,100,300,700
1992,25500,1900,100,400,700
1993,25500,1900,100,400,700
1994,25800,1900,100,400,700
1995,25800,1900,100,500,700
1996,26100,1900,100,500,700
1997,26600,2200,100,500,800
1998,27200,2000,100,500,800
1999,28600,2000,100,600,800
2000,28600,2100,100,600,900
2001,28900,2200,100,600,900
2002,29300,2100,100,600,900
2003,29600,2200,100,700,900
2004,30200,2000,100,800,1000
2005,30200,2000,100,800,1000
2006,30100,1900,100,800,1000
2007,30100,2000,100,800,1100
2008,30000,1900,100,800,1400
2009,29600,1700,100,700,1300
2010,29600,1800,100,800,1300
2011,29200,1900,100,800,1400
2012,28700,2000,100,800,1400
2013,28000,2000,100,800,1300
2014,27800,2000,100,800,1400
2015,28100,2100,100,800,1600
2016,28900,2000,100,900,1300
2017,29200,2100,100,900,1300
2018,29400,2100,100,900,1700
2019,29300,1900,100,900,1800
2020,26100,1900,100,500,2000
2021,26600,2000,100,500,2000

In [12]:
df.iloc[0,0]

'24200'

In [13]:
df = df.reset_index()

In [14]:
df = df.rename(columns={'index': 'Year'})
df

Sources,Year,"Road traffic, total",Total inland shipping,Railways total,Aviation,"Seagoing shipping, inland"
0,1990,24200,1900,100,300,700
1,1991,24300,1900,100,300,700
2,1992,25500,1900,100,400,700
3,1993,25500,1900,100,400,700
4,1994,25800,1900,100,400,700
5,1995,25800,1900,100,500,700
6,1996,26100,1900,100,500,700
7,1997,26600,2200,100,500,800
8,1998,27200,2000,100,500,800
9,1999,28600,2000,100,600,800
10,2000,28600,2100,100,600,900
11,2001,28900,2200,100,600,900
12,2002,29300,2100,100,600,900
13,2003,29600,2200,100,700,900
14,2004,30200,2000,100,800,1000
15,2005,30200,2000,100,800,1000
16,2006,30100,1900,100,800,1000
17,2007,30100,2000,100,800,1100
18,2008,30000,1900,100,800,1400
19,2009,29600,1700,100,700,1300
20,2010,29600,1800,100,800,1300
21,2011,29200,1900,100,800,1400
22,2012,28700,2000,100,800,1400
23,2013,28000,2000,100,800,1300
24,2014,27800,2000,100,800,1400
25,2015,28100,2100,100,800,1600
26,2016,28900,2000,100,900,1300
27,2017,29200,2100,100,900,1300
28,2018,29400,2100,100,900,1700
29,2019,29300,1900,100,900,1800
30,2020,26100,1900,100,500,2000
31,2021,26600,2000,100,500,2000