In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('All data.csv')

In [3]:
column_names=[df.loc[0,'Unnamed: 0'], df.loc[0,'Unnamed: 1']]
i = 2
while i < len(df.columns):
    if i < len(df.columns) - 1:
        column_names.append(df.columns[i])
    if i == len(df.columns)-1:
        column_names.append('2021')
    i += 1

In [4]:
df = df.set_axis(column_names, axis=1, inplace=False)

In [5]:
df = df[df.Emissions == 'Carbon dioxide (CO2)']
df = df[df.Sources.isin(['Road traffic, total', 'Total inland shipping', 'Railways total', 'Aviation', 'Seagoing shipping, inland'])]
df = df.drop(columns=['Emissions'])
df.set_index('Sources')
df = df.swapaxes("index", "columns")

In [6]:
new_header = df.iloc[0]
df = df[1:]
df.columns=new_header

df = df.reset_index()
df.columns.names = [' ']
df = df.rename(columns={'index': 'Year'})
df = df[df.Year >= '2012']
df = df.reset_index()
df = df.drop(columns=['index'])

In [7]:
df['Year'] = df['Year'].astype(int)
df['Road traffic, total'] = df['Road traffic, total'].astype(int)
df['Total inland shipping'] = df['Total inland shipping'].astype(int)
df['Railways total'] = df['Railways total'].astype(int)
df['Aviation'] = df['Aviation'].astype(int)
df['Seagoing shipping, inland'] = df['Seagoing shipping, inland'].astype(int)

In [8]:
df

,Year,"Road traffic, total",Total inland shipping,Railways total,Aviation,"Seagoing shipping, inland"
0,2012,28700,2000,100,800,1400
1,2013,28000,2000,100,800,1300
2,2014,27800,2000,100,800,1400
3,2015,28100,2100,100,800,1600
4,2016,28900,2000,100,900,1300
5,2017,29200,2100,100,900,1300
6,2018,29400,2100,100,900,1700
7,2019,29300,1900,100,900,1800
8,2020,26100,1900,100,500,2000
9,2021,26600,2000,100,500,2000

In [9]:
df_road = df[['Year', 'Road traffic, total']]
df_road['Modality'] = 'Road traffic, total'
df_road = df_road.rename(columns = {'Road traffic, total': 'CO2 emissions'})

C:\Users\marit\AppData\Local\Temp\ipykernel_18624\49230499.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_road['Modality'] = 'Road traffic, total'

In [10]:
df_tot_ship = df[['Year', 'Total inland shipping']]
df_tot_ship['Modality'] = 'Total inland shipping'
df_tot_ship = df_tot_ship.rename(columns = {'Total inland shipping': 'CO2 emissions'})

C:\Users\marit\AppData\Local\Temp\ipykernel_18624\4048991834.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tot_ship['Modality'] = 'Total inland shipping'

In [11]:
df_rail = df[['Year', 'Railways total']]
df_rail['Modality'] = 'Railways total'
df_rail = df_rail.rename(columns = {'Railways total': 'CO2 emissions'})

C:\Users\marit\AppData\Local\Temp\ipykernel_18624\2071564750.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rail['Modality'] = 'Railways total'

In [12]:
df_aviation = df[['Year', 'Aviation']]
df_aviation['Modality'] = 'Aviation'
df_aviation = df_aviation.rename(columns = {'Aviation': 'CO2 emissions'})

C:\Users\marit\AppData\Local\Temp\ipykernel_18624\2578293516.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aviation['Modality'] = 'Aviation'

In [13]:
df_sea_ship = df[['Year', 'Seagoing shipping, inland']]
df_sea_ship['Modality'] = 'Seagoing shipping, inland'
df_sea_ship = df_sea_ship.rename(columns = {'Seagoing shipping, inland': 'CO2 emissions'})

C:\Users\marit\AppData\Local\Temp\ipykernel_18624\1679934782.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sea_ship['Modality'] = 'Seagoing shipping, inland'

In [14]:
df_total = df_road.append(df_tot_ship).append(df_rail).append(df_aviation).append(df_sea_ship)
df_total

C:\Users\marit\AppData\Local\Temp\ipykernel_18624\2662876213.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_total = df_road.append(df_tot_ship).append(df_rail).append(df_aviation).append(df_sea_ship)
C:\Users\marit\AppData\Local\Temp\ipykernel_18624\2662876213.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_total = df_road.append(df_tot_ship).append(df_rail).append(df_aviation).append(df_sea_ship)
C:\Users\marit\AppData\Local\Temp\ipykernel_18624\2662876213.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_total = df_road.append(df_tot_ship).append(df_rail).append(df_aviation).append(df_sea_ship)

   Year  CO2 emissions                   Modality
0  2012          28700        Road traffic, total
1  2013          28000        Road traffic, total
2  2014          27800        Road traffic, total
3  2015          28100        Road traffic, total
4  2016          28900        Road traffic, total
5  2017          29200        Road traffic, total
6  2018          29400        Road traffic, total
7  2019          29300        Road traffic, total
8  2020          26100        Road traffic, total
9  2021          26600        Road traffic, total
0  2012           2000      Total inland shipping
1  2013           2000      Total inland shipping
2  2014           2000      Total inland shipping
3  2015           2100      Total inland shipping
4  2016           2000      Total inland shipping
5  2017           2100      Total inland shipping
6  2018           2100      Total inland shipping
7  2019           1900      Total inland shipping
8  2020           1900      Total inland shipping
9  2021           2000      Total inland shipping
0  2012            100             Railways total
1  2013            100             Railways total
2  2014            100             Railways total
3  2015            100             Railways total
4  2016            100             Railways total
5  2017            100             Railways total
6  2018            100             Railways total
7  2019            100             Railways total
8  2020            100             Railways total
9  2021            100             Railways total
0  2012            800                   Aviation
1  2013            800                   Aviation
2  2014            800                   Aviation
3  2015            800                   Aviation
4  2016            900                   Aviation
5  2017            900                   Aviation
6  2018            900                   Aviation
7  2019            900                   Aviation
8  2020            500                   Aviation
9  2021            500                   Aviation
0  2012           1400  Seagoing shipping, inland
1  2013           1300  Seagoing shipping, inland
2  2014           1400  Seagoing shipping, inland
3  2015           1600  Seagoing shipping, inland
4  2016           1300  Seagoing shipping, inland
5  2017           1300  Seagoing shipping, inland
6  2018           1700  Seagoing shipping, inland
7  2019           1800  Seagoing shipping, inland
8  2020           2000  Seagoing shipping, inland
9  2021           2000  Seagoing shipping, inland